.DAttn {
    display: none;
}
.DExp {
    display: none;
}
.RReceipt {
    display: none;
}
.EExp {
    display: none;
}
.VExp {
    display: none;
}
.VAttn {
    display: none;
}
.VStk {
    display: none;
}