.table{
    margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(111, 3, 3, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(57, 51, 51, 0);
    text-align: center;
    line-height: 1.42857143;
    border-spacing: 5px;
    border-collapse: separate;
    margin-top: 30px;
}
.infotable{
    margin-bottom: 20px;
    top:30px;
  background-color: #fff;
  border: 1px solid rgba(111, 3, 3, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(57, 51, 51, 0);
    line-height: 1.42857143;
    border-spacing: 5px;
    border-collapse: separate;
    margin-top: 30px;
}
caption{
  background-color: #1f7f5c;
    color: white;
  border: 1px solid rgba(111, 3, 3, 0);
border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(57, 51, 51, 0);
    text-align: center;
    line-height: 1.42857143;
    border-spacing: 5px;
    border-collapse: separate;
}
.table tr:hover{
    background-color: skyblue;
}